.container {
    border: 1px solid #eeeeee;
    border-radius: .5em;
    background-color: white;
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content {
    padding: 1em 5em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.picture {
    width: calc(min(calc(50%), 512px));
}

@media screen and (max-width: 1020px) {
    .container {
        flex-direction: column-reverse;
        align-items: start;
    }

    .content {
        padding: 1em;
    }

    .picture {
        height: 1%;
    }
}