.link {
    color: var(--primary);
    text-decoration: rgba(255, 255, 255, 0) underline;
    transition: text-decoration-color 150ms ease-in-out;
}

.link:hover {
    text-decoration-color: var(--primary);
}